/*******************************
General
*******************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #FAFAFA;
  font-family: 'Roboto', sans-serif;
}

.page-container {
  position: relative;
  min-height: 100vh;
}

.divider {
  border-top: 1.5px dashed #8c8b8b;
  width: 270px;
  margin: 0;
}

/**************
Colors
**************/
.dark-gray {
  color: #374151;
}

.gray {
  color: #777C8A;
}

.orange {
  color: #FFAA4B;
}

.danger {
  color: #dc3545;
}

/**************
Typography
**************/
.light-weight {
  font-weight: 300;
}

.medium-weight {
  font-weight: 500;
}

.strong {
  font-weight: 700;
}

.bold-weight {
  font-weight: 900;
}

.line-through {
  text-decoration: line-through;
  font-weight: 300;
}

.underlined {
  text-decoration: underline;
}

.bug-check {
  background-color: red;
}


/**************
Reset
**************/
textarea:hover, 
input:hover, 
textarea:active, 
input:active, 
textarea:focus, 
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active
{
  outline:0px !important;
  -webkit-appearance:none;
  box-shadow: none !important;
  border-color: none;
}

a {
  text-decoration: none;
}

.btn-success:active:focus,
.btn-sample:active,
.btn:focus:not(:focus-visible)   {
  color: #ffffff; 
  background-color: #ff9728; 
  border-color: none;
}

.btn-close:focus,
.btn-close:active {
  box-shadow: none;
}

/*******************************
Navbar
*******************************/
.container-fluid {
  width: 1200px;
}

.navbar {
  background-color: #fff;
  box-shadow: 0 4px 6px #ccc;
  width: 100%;
  height: 110px;
}

.navbar-brand {
  font-size: 2rem;
}

.navbar-num {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.navbar-pagination-disabled,
.navbar-pagination {
  padding: 2px 10px;
  border-radius: 50%;
  font-size: 1rem;
}

.navbar-pagination {
  color: #fff;
  background-color: #FF9727;
}

.navbar-pagination-disabled {
  color: #fff;
  background-color: #B2B2B2;
}

.line-after::after,
.line-after-1::after {
  content: "";
  display: inline-block;
  height: 2px;
  position: relative;
  vertical-align: middle;
  width: 80%;
  left: 2.5em;
  bottom: 54px;
  margin-right: -60%;
}

.line-after::after {
  background-color: #FF9727;
}

.line-after-1::after {
  background-color: #B2B2B2;
}

.logout-btn {
  text-transform: uppercase;
  font-size: 1.2rem;
}

/*******************************
Content
*******************************/
.right-column,
.left-column {
  flex-direction: column;
}

/**************
Top Section
**************/
.top-section {
  padding: 0 12px;
}

.top-section-paragraph {
  width: 635px;
}

.top-section-span {
  font-size: 1rem;
}

.danger-list {
  width: 680px;
  border: none;
  background-color: #FAFAFA ;
  padding: 8px 0;
}

.danger-list-num {
  background-color: #fff;
  border: 2px solid #374151;
  border-radius: 50%;
  padding: 2px 9px;
  height: 30px;
  width: 30px;
}

/**************
Card Mid Section
**************/
.card-mid-section {
  width: 800px;
  border: 1px solid #ff9728;
  font-weight: 700;
}

.card-mid-section-header {
  background-color: #ff9728;
  height: 80px;
  padding: 15px;
}

.card-mid-section-header-title {
  color: #fff;
  width: 400px;
}

.bi-check-square {
  color: #fff;
}

.body-title {
  color: #fa8304;
  font-weight: 900;
  letter-spacing: 1px;
}

.discount-price {
  color: #fff;
}

.mid-section-body {
  width: 700px;
  margin: 0 auto;
}

.mid-section-list {
  width: 300px;
}

.bi-check-lg {
  color: #e67a07;
}

.mid-list {
  margin-bottom: 0;
  color: #374151;
  font-weight: 700;
  padding-top: 6px;
}

.mid-section-span {
  font-size: 0.9rem;
  font-weight: 500;
  color: #777C8A;
}

.list-group-item {
  border: none;
  padding: 0;
}

/**************
Left column
**************/ 
/* Form */
.payment-header {
  text-transform: capitalize;
  width: 100%;
  max-width: 500px;
  font-weight: 900;
}

.payment-subheading {
  color: #777C8A;
  font-weight: 400;
  width: 600px;
}

.card-info-header {
  color: #777C8A;
  font-size: 1.1rem;
}

.payment-form {
  width: 500px;
}

.form-input {
  padding: 10px;
  background-color: #FAFAFA;
  border: none;
  border-bottom: 2px solid #FF9728;
  font-size:1rem;
  color: #374151;
}

.owner {
  width: 300px;
}

.CVV {
  width: 100px;
}

.payment-btn {
  width: 300px;
  font-size: 1.2rem;
}

/* Accordion */
.accordion {
  width: 500px;
  height: 360px;
}

.accordion-button:not(.collapsed) {
  color: #fff;
  background-color: #FF9728;
}


/**************
Right column
**************/
/* Billing Info Card   */
.billing-info {
  width: 300px;
  height: 300px;
  padding: 25px 0;
}

.card {
  box-shadow: 2px 2px #e2e2e2d7;
}

.payment-card-header {
  background-color: #fff;
  text-transform: capitalize;
  font-weight: bold;
}

select {
  appearance: none;
  padding: 5px 8px;
  border-radius: 5px;
  border-color: #B2B2B2;
  outline: none;
  cursor: pointer;
}

 /* Billing Info Button */
.btn {
  color: #fff;
  background-color: #FF9728;
  border: none;
  box-shadow: 1.5px 1.5px #d8d8d8;
}

.btn:hover {
  background-color: #ff9728;
  color: #fff;
  filter: brightness(90%);
  transition: all 0.2s ease-in;
  outline: none;
}

/* Billing Info Modal */
.vertical-align-helper {
  display: table;
  height: 100%;
  width: 100%;
  pointer-events: none;
}

.vertical-align-center {
  display: table-cell;
  vertical-align: middle;
  pointer-events: none;
}

.modal-content {
  width: inherit;
  max-width: inherit;
  height: inherit;
  margin: 0 auto;
  pointer-events: all;
}



/* Payment Details Card  */
.payment-details {
  width: 300px;
  height: 420px;
}

/**************
Footer
**************/
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2rem;
  margin: 0 auto;
  text-align: center;
}

/**************
Responsive Breakpoints
**************/
/* Small devices */
@media(max-width: 720px) {
  .top-section-paragraph {
    width: 330px;
  }

  .danger-list-num {
    padding: 2px 8px;
    height: 27px;
    width: 27px;
    font-size: 0.8rem;
  }

  .danger-list-span {
    font-size: 0.9rem;
    width: 300px;
  }
}

/* Large devices */
@media(min-width: 1024px) {
  .row {
  height: 100vh;  
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}
}